/*definition de la police*/
body
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    margin-left: 20px;
    width: 1200px;
    border-right: 1px solid #F2F2F2; 
    margin: auto; 
      
}
 
/*header*/
nav
{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

nav ul
{ 
    list-style-type:none;
    display: flex;
}
nav li
{   
    margin-right: 50px;
}
.hebergements
{   
    font-size: 0.9em;
    color:  #0065FC ;
    text-decoration: none;
    border-top: solid #0065FC 2px;
    padding: 30px 20px 0px 20px;     
}
.activites
{ 
     font-size: 0.9em;
     color: black;
     text-decoration: none;
}
.subscribe
{   
    font-size: 0.9em;
    color:  #0065FC;
    font-weight: bold;
    text-decoration: none;
}
h1, h2
{   color: black;
    font-size: 1.2em;
}
 header h2, h3
{
    color: black;
    font-size: 1em;
}
.formulaire
{
    display: flex;
    justify-content:start;
}
.formulaire i
{   
     font-size: 12px;
     border: solid 1px #F2F2F2;
     border-radius: 10px 0px 0px 10px;
     padding: 15px;
     background-color: #F2F2F2;
     margin-right: 0px;
}
.recherche input
{   font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    border-radius: 0px;
    padding: 12px;
    color: black; 
}
.formulaire button
{   font-weight: bold;
    color: white;
    border: 1px solid #0065FC; 
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    padding: 12px;
}
.filtres
{
    display: flex;
    justify-content: start;
    margin-top: 20px;    
}
header h2
{
    margin-top:10px;
    margin-right: 30px;
}
.formulaire-filtre
{
   display: flex;
   justify-content: flex-start;  
 
}
.formulaire-filtre :hover
{
   color:darkmagenta;
   background-color:powderblue;
}

.formulaire-filtre i
{
    font-size: 15px;
    color:  #0065FC;
    border: solid 1px  #DEEBFF;
    border-radius: 20px;
    padding: 10px;
    background-color: #DEEBFF;   
}

.link-filtre 
{  
    font-family: 'Raleway', sans-serif;
    display: flex;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1em;
    background-color: white;
    border: 2px solid #F2F2F2  ;
    border-radius: 20px; 
    padding: 0px;    
}
.link-filtre span
{
    padding: 10px 15px 10px 10px;
}

.info i
{  
     display: inline-block;
     vertical-align: bottom;
     margin-right: 5px;
     margin-bottom: 12px;
    color: #0065FC;
    font-size: 10px;
    border: 2px #F2F2F2 solid; 
    border-radius: 20px;
    padding: 5px 8px 5px 8px;  
}
.info p
{
    display: inline-block;
    vertical-align: bottom;
    margin-top: 30px;
}

/*main*/
.les-hotels
{
    display: flex;
    justify-content: start;
    
}
strong
{
    font-weight: bold;
}
.hebergements-marseille
{  
    flex: 2;
    margin-top: 20px;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color:  #F2F2F2;
    padding: 20px 10px 0px 30px;
    margin-right: 30px;
   

}
.hebergements-marseille-cartes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
}
.afficher
{   font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;
    font-size: 1em;
    margin-top: 10px;
}
.hebergements-marseille-item
{   
    margin-right: 20px;
    text-decoration: none;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 20px;
    background-color: white;
    color: black;

}
.hebergements-marseille-item img
{
    width: 200px;
    height: 100px;
    border: 1px #F2F2F2 solid;
    border-radius: 15px 15px 0px 0px;

}
.hebergements-marseille-contenu h3
{  
    margin-top: 5px;
    margin-bottom: 5px;
}
.hebergements-marseille-contenu p
{   
    margin-top: 5px;
    margin-bottom: 5px;
}
.notation
{   display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    color:#0065FC;
    font-size: 10px;
}
.link-notation
{   display: flex;
    justify-content: flex-start;
    color:  #e0dede;
}
.populaires
{ 
 flex: 1;
 border: solid 1px  #F2F2F2;
 border-radius: 20px;
 background-color:  #F2F2F2;
 padding: 10px 0px 0px 30px;
 margin-top: 20px;
 margin-right: 30px;
 
}
.link-populaires
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.link-populaires i
{
  font-size: 20px;
  margin-top: 10px;
  margin-right: 30px;

}
.populaires-item
{
    display: flex;
    justify-content: start;
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    padding: 3px;
    background-color: white;
    text-decoration: none;
    color: black;
   margin-bottom: 30px;
   margin-right: 30px;

}
.populaires-item img
{
 border: 1px solid  #F2F2F2;
 border-radius:  15px 0px 0px 15px;
 width: 120px;
 height: 120px;
}
.populaires-contenu
{
 margin: 0px 40px 0px 10px;
}

.populaires-contenu p
{
    margin-top: ;
}
.activites-marseille
{
    margin-top: 40px;
}
.activites-marseille-cartes
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    
}
.activites-marseille-item
{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    text-decoration: none;
}
.activites-marseille-item img
{
    width: 180px;
}



/*footer*/
footer
{   
    margin-top: 20px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px 20px 40px;
    margin-bottom: 30px;
    margin-left: -30px;

}
footer ul
{
    list-style-type: none;
    margin-left: -40px;
   
}
footer a 
{
    color: black;
    text-decoration: none;
}

footer li
{ 
  margin-top: 10px;
}


