/*definition de la police*/
body
{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    border-right: 1px solid rgb(214, 211, 211);
    margin: 3%;     
}

/*header*/
nav
{
  display: flex;
  justify-content: space-between;
  
}
nav ul
{ 
    list-style-type:none;
    display: flex;
}
nav li
{   
    margin-right: 60px;
}
.link-nav:hover
{   
    color:  #0065FC ;
    text-decoration: none;
    border-top: solid #0065FC 2px;
       
}
.link-nav
{ 
     color: black;
     text-decoration: none;
     padding: 30px 20px 0px 20px;  
}
.subscribe
{   
    color:  #0065FC;
    font-weight: bold;
    text-decoration: none;
}
.recherche
{
    margin-top: 30px;
}
.link-recherche p
{
   margin-top: -10px;
}
h1, h2
{   
    color: black;
    font-size: 1.4em;

}
 header h2, h3
{
    color: black;
    font-size: 1.2em;
    font-family: 'raleway' sans-serif;
}
.formulaire
{
    display: flex;
    justify-content:start;
    margin-top: 20px;
}
.location-icon
{   
     font-size: 18px;
     border: solid 1px #F2F2F2;
     border-radius: 17px 0px 0px 17px;
     padding: 17px;
     background-color: #F2F2F2;
     
}
.recherche input
{   
    font-family: 'raleway', sans-serif;
    font-size: 1.1em;
    font-weight:bold;
    border: solid 1px #F2F2F2;
    border-radius: 0px;
    padding: 10px 0px 10px 15px;
    color: black; 
}
.formulaire button
{    
    font-size: 1.2em;
    color: white;
    border: 1px solid #0065FC; 
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    padding: 10px 20px 10px 15px;
    
}
.search-icon
{
    display: none;
}
.filtres
{
    display: flex;
    justify-content: start;
    margin-top: 30px; 

}
.filtres h2
{
    padding-right: 35px;
}


.formulaire-filtre
{
   display: flex;
   align-items: center; 
   flex-direction: row;
 
}
.formulaire-filtre :hover
{
   color:darkmagenta;
   background-color:powderblue;
   border-radius: 30px;
}


.formulaire-filtre i
{   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color:  #0065FC;
    border: solid 1px  #DEEBFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;   
}

.link-filtre 
{  
    display: flex;
    margin-right: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid  #F2F2F2;
    border-radius: 30px; 
    padding: 0px;    
}
.link-filtre span
{   
    font-family: 'raleway', sans-serif;
    font-size: 1.2em;
    padding: 15px 25px 5px 15px;
}

.info i
{  
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    margin-bottom: 12px;
    color: #0065FC;
    font-size: 10px;
    border: 2px #F2F2F2 solid; 
    border-radius: 20px;
    padding: 5px 8px 5px 8px;  
}
.info p
{
    display: inline-block;
      margin-top: 35px;
      vertical-align: bottom;
}

/*main*/
.les-hotels
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px; 
    margin-right: 1.5%; 
}
strong
{
    font-weight: bold;
}
.hebergements-marseille
{  
    flex-basis: 65%;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color:  #F2F2F2;
    /*padding: 20px 10px 40px 40px; */
}
#hebergements-a-marseille
{
    padding: 20px 0px 5px 35px;
}

.hebergements-marseille-cartes
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    width: 92%;
    margin: 0 auto;
}
.afficher
{   font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;
    font-size: 1.2em;
    margin: 40px 0px 40px 35px;
   
}
.hebergements-marseille-item
{ 
    text-decoration: none;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    padding: 3px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px #a1a1a1;

}
.hebergements-marseille-item img
{
    object-fit: cover;
    height: 120px; 
    border: 1px #F2F2F2 solid;
    border-radius: 15px 15px 0px 0px;
    min-width: 99%;
}
.hebergements-marseille-contenu
{ 
    padding:0px 10px 0px 10px;
}
.hebergements-marseille-contenu h3
{  
    margin-top: 5px;
    margin-bottom: 5px;
}
.hebergements-marseille-contenu p
{   
    margin-top: 5px;
    margin-bottom: 5px;
}
.hebergements-marseille-contenu i
{
    font-size: 13px;
}
.notation
{   display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    color:#0065FC;
    font-size: 10px;
}
.link-notation
{   display: flex;
    justify-content: flex-start;
    color:  #e0dede;
}
.populaires
{ 
 flex-basis: 32%;
 border: solid 1px  #F2F2F2;
 border-radius: 20px;
 background-color:  #F2F2F2;
 /*padding: 10px 10px 0px 30px;*/
}
.populaires h2
{
    padding: 20px 0px 5px 30px;
}
.populaires-cartes
{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin: auto;
}
.link-populaires
{
    display: flex;
    justify-content: space-between;
  
}
.link-populaires i
{
  font-size: 25px;
  margin-top: 40px;
  margin-right: 30px;
}
.populaires-item
{
    display: flex;
    justify-content: space-between;
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #a1a1a1;
    padding: 3px;
    background-color: white;
    text-decoration: none;
    color: black; 
}
.populaires-item img
{
 object-fit: cover;
 min-width: 38%;
 border: 1px solid  #F2F2F2;
 border-radius:  15px 0px 0px 15px;
 height: 145px;
}
#link-img
{
    max-width: 38%;
}
#bleu-blanc
{
    min-width: 38%;
}
.populaires-contenu
{
    padding: 0px 0px 0px 20px;
    margin-top: -5px;
}
.populaires-contenu p
{
   margin-top: -10px; 
}
.populaires-contenu i
{  
     font-size: 13px;
     margin-top: 20px;   
}

.activites-marseille
{
    margin-top: 50px;
    margin-right: 1%;
}
.activites-marseille-cartes
{  
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows:auto;
    grid-gap: 40px;  
    width:99%;     
}
.activites-marseille-port
{  
   grid-column: 1 / span 1;
   grid-row: 1 / span 2;
   border: 1px solid #F2F2F2;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0px 0px 10px #c0bfbf; 
     
}
.activites-marseille-port img
{  
  object-fit: cover;
  height: 390px;
  max-width: 100%;
  border: #F2F2F2 solid 1px;
  border-radius: 20px 20px 0px 0px;
}
.activites-marseille-port h3
{
    margin: 15px 0px 0px 20px; 
}
 .activites-marseille-pomegues
 {  
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 10px #c0bfbf;  
 }
 
 .activites-marseille-pomegues img
 {
     object-fit: cover;
     height: 160px;
     border: #F2F2F2 solid 1px;
     border-radius: 20px 20px 0px 0px;
     min-width: 100%;
     
 }
 .activites-marseille-pomegues h3
 {
     margin:  15px 0px 20px 20px;
 }

.activites-marseille-frioul
{   
    grid-column: 2 / 2;
    grid-row: 2 / span 2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 10px #c0bfbf; 
    margin-bottom: 40px; 
    
}
.activites-marseille-frioul img
{   
    object-fit: cover;
     height: 125px;
     border: #F2F2F2 solid 1px;
     border-radius: 20px 20px 0px 0px;
     min-width: 100%; 
}
.activites-marseille-frioul h3
{
    margin:  15px 0px 0px 20px;
}

.activites-marseille-calanques
{
    grid-column: 3 / 3;
    grid-row: 1 / span 2;
    border: 1px solid #F2F2F2;
   border-radius: 20px;
   box-shadow: 0px 0px 10px #c0bfbf; 
   text-decoration: none;
    
}
.activites-marseille-calanques img
{   
     object-fit: cover;
     height: 390px;
     border: #F2F2F2 solid 1px;
     border-radius: 20px 20px 0px 0px; 
     max-width: 100%;

}
.activites-marseille-calanques h3
{
    margin:  15px 0px 20px 20px;
}
.activites-marseille-dame-garde
{
    grid-column: 4 / 4;
    grid-row: 1 / span 1;
    border: 1px solid #F2F2F2;
   border-radius: 20px;
   box-shadow: 0px 0px 10px #c0bfbf; ; 
   text-decoration: none;
   margin-bottom: 20px;
}
.activites-marseille-dame-garde img
{   
    object-fit: cover;
    height: 145px;
    border: #F2F2F2 solid 1px;
    border-radius: 20px 20px 0px 0px; 
    min-width: 100%;

}
.activites-marseille-dame-garde h3
{
    margin: 15px 0px 0px 20px;
}
.activites-marseille-longchamp
{
    grid-column: 4 / 4;
    grid-row: 2 / span 1;
    border: 1px solid #F2F2F2;
   border-radius: 20px;
   box-shadow: 0px 0px 10px #c0bfbf; 
   text-decoration: none;
   margin-top: -20px;
}
.activites-marseille-longchamp img
{   
    object-fit: cover;
    height: 145px;
    border: #F2F2F2 solid 1px;
     border-radius: 20px 20px 0px 0px; 
    min-width: 100%;

}
.activites-marseille-longchamp h3
{
  margin: 15px 0px 20px 20px;
}
/*footer*/
footer
{   
    margin-top: 30px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 2% 25% 2% 3%;
    margin-left: -40px;
}
footer ul
{
    list-style-type: none;
    margin-left: -40px;
   
}
footer a 
{
    color: black;
    text-decoration: none;
}
footer li
{
margin-top: 10px;
}






















@media screen and (min-width:375px) and (max-width:767px)     
{
     body  
     {   margin: 5% 0.5%;
         font-size: 1.1em;
     } 
    /*header*/
    header
    {
      margin-left: 3%;
    }
    nav 
    {
      display: block;
      position: relative;
     }
     
    nav ul 
    {   
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -5%;
        margin-right: -20%; 
        margin-top: 20px;
    }
    .subscribe
    {
       position: absolute;
       top: 25px;
       right: 30px;
    } 
    .link-nav
    {   
        margin-top: -30px;
        display: inline-block;
        position: relative;
        left: -20%;
        padding: 0% 70% 20px 30%;
    }
    .link-nav:hover 
    {   
        border-top: none;
        border-bottom: solid #0065FC 2px;
    }
    
    h1 
    {
        font-size: 1.2em;
    }
    h3
    {
        font-size: 1em;
    }
    .formulaire
    {
        margin-top: 40px;
    }

     .recherche input 
     { font-size: 1em;
        border-radius: 0px 17px 17px 0px;
        padding: 2% 18% 2% 5%;
        
     }
    .formulaire button 
    {   
        display: none;
    }
    .location-icon
    {
        font-size: 20px;
        padding: 15px 20px 20px 20px;
    }
    .search-icon
    {    
        display: inline-block;
        color: white;
        border: 1px solid #0065FC; 
        border-radius: 17px;
        background-color: #0065FC;
        padding: 15px 20px 20px 20px;
        font-size: 20px;
        margin-left: -70px;
    }
    .filtres
    {
    flex-direction: column;
    margin-top: 20px;
    }
    .formulaire-filtre
   { 
     display: flex;
     flex-wrap:wrap;
   } 
    .link-filtre 
   {  
    margin-bottom: 10px;
    margin-right: 10px;  
   } 
   .info i
   {   
       display: inline-block;
       position: absolute;
       margin-top: 30px;
       font-size: 12px;
       padding: 5px 9px 7px 9px;  
   }
    .info p   
   {   
       
      display: inline-block; 
      margin-left: 40px;
      margin-bottom: 30px;  
   }
    /*main*/
   .les-hotels
   {
       display: flex;
       justify-content: space-between;
       flex-direction: column;
       margin-top: 30px;  
   }
   .populaires
   {   
       order: 1;
       border-radius: 0px;
       margin-left: -1%;
       margin-right: -3%;
   }
   .populaires-cartes
    {
        width: 95%;
        grid-gap: 15px;
        margin-bottom: 40px;
           
    }
    .populaires-item
    {
        padding: 5px;
    }
   .populaires-item img
   {
     min-width: 45%
    
   }
   #link-img
   {
     min-width: 45%;
   }
   #bleu-blanc
   {
       min-width: 45%;
   }
  
  .populaires-contenu
   { padding: 0px 0px 0px 10px;
     min-width: 53%
   }
  .populaires-contenu p
   {
     margin-top: -10px; 
   }
  .populaires-contenu i
   {  
     font-size: 15px;   
   }

   .hebergements-marseille
   {  
       border: 0px;
       background: none;
       order: 2;
   }
   #hebergements-a-marseille
   {
       padding: 20px 0px 0px 15px;
   }
   .hebergements-marseille-cartes
   {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       grid-gap: 20px;
       width: 95%;
   } 
   .hebergements-marseille-item img
   {
       object-fit: cover;
       height: 180px; 
       border: 1px #F2F2F2 solid;
       border-radius: 15px 15px 0px 0px;
       min-width: 99%;
   }
   .hebergements-marseille-contenu
   { 
       padding:0px 10px 0px 15px;
   }
   .hebergements-marseille-contenu h3
   {  
       margin-top: 10px;
   }
   .hebergements-marseille-contenu p
   {   
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .hebergements-marseille-contenu i
   {
       font-size: 15px;
   }
   .afficher
   {   
       background: none;
       border: none;
       margin: 40px 0px 0px 15px; 
   }
   .activites-marseille
    {
       margin-top: 50px;
       margin-right: 5%;
       margin-left: 3%;
    }
   .activites-marseille-cartes
   {  
       display: flex;
       flex-direction: column; 
   } 
   .activites-marseille-port img
   {  
     object-fit: cover;
     height: 180px;
     min-width: 100%;
   }
   .activites-marseille-port h3
   {
       margin: 15px 0px 20px 20px; 
   }
    .activites-marseille-pomegues img
    {
        object-fit: cover;
        height: 180px;
        min-width: 100%;   
    }
    .activites-marseille-pomegues h3
    {
        margin:  15px 0px 20px 20px;
    }
   .activites-marseille-frioul
   {   
       margin-bottom: 0px;   
   }
   .activites-marseille-frioul img
   {   
       object-fit: cover;
        height: 180px;
        min-width: 100%; 
   }
   .activites-marseille-frioul h3
   {
       margin:  15px 0px 20px 20px;
   }
   .activites-marseille-calanques
   {
       margin-bottom: 0px;
   }
   .activites-marseille-calanques img
   {   
        object-fit: cover;
        height: 180px;
        min-width: 100%;
   }
   .activites-marseille-calanques h3
   {
       margin:  15px 0px 20px 20px;
   }
   .activites-marseille-dame-garde
   {
      margin-bottom: 0px;
   }
   .activites-marseille-dame-garde img
   {   
       object-fit: cover;
       height: 180px; 
       min-width: 100%;
   
   }
   .activites-marseille-dame-garde h3
   {
       margin: 15px 0px 20px 20px;
   }
   .activites-marseille-longchamp
   {
      margin-top: 0px;
   }
   .activites-marseille-longchamp img
   {   
       object-fit: cover;
       height: 180px;
       min-width: 100%;
   }
   .activites-marseille-longchamp h3
   {
     margin: 15px 0px 20px 20px;
   }
   
   footer
   {   
       margin-top: 50px;
       background-color: #F2F2F2;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 20px 0px 20px 50px;
       margin-left: -4%;
   }

}












   
@media screen and (min-width:768px) and (max-width:1000px)
{
    body
    {
       margin: 5% 1%;
       font-size: 1.1em;
    }

    .filtres
    {
    flex-direction: column;
    margin-top: 20px;
    }
    .formulaire-filtre
   { 
     display: flex;
     flex-wrap:wrap;
   } 
    .link-filtre 
   {  
    margin-bottom: 10px;
    margin-right: 10px;  
   } 
  
   .info i
   { 
        font-size: 12px;
        margin-top: 15px;
        padding: 5px 9px 7px 9px;
   }
    .info p
   {
       margin-top: 30px;
       margin-right: 10%;
   }
   .les-hotels
   {
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     margin-top: 30px;  
   }
   .populaires
   {   
       order: 1;
       border-radius: 20px;
   }
   .populaires-cartes
    {
        width: 95%;
        grid-gap: 15px;
        margin-bottom: 40px;
           
    }
    .populaires-item
    {
        padding: 5px;
    }
   .populaires-item img
   {
     min-width: 45%;
     height: 200px;
    
   }
   #link-img
   {
     min-width: 45%;
     height: 200px;
   }
   #bleu-blanc
   {
       min-width: 45%;
       height: 200px;
   }
  
  .populaires-contenu
   { padding: 0px 0px 0px 10px;
     min-width: 53%;
   }
  .populaires-contenu p
   {
     margin-top: -10px; 
   }
  .populaires-contenu i
   {  
     font-size: 15px;
     margin-top: 60px;   
   }
   .hebergements-marseille
   {   margin-top: 40px;
     order: 2; 
   }
   #hebergements-a-marseille
   {
    padding: 20px 0px 5px 35px;
   }

   .hebergements-marseille-cartes
   {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 96%;
   }
   .hebergements-marseille-item img
   {
    object-fit: cover;
    height: 180px; 
   }    
   .activites-marseille
   {
       margin-right: -2%;
   }
   .activites-marseille-cartes
   {  
       display: flex;
       flex-wrap: wrap;
       width: 99%;

   } 
   .activites-marseille-port
   {
       flex-basis: 46%;
   }
  
   .activites-marseille-port img
   {  
     object-fit: cover;
     height: 200px;
     min-width: 100%;
   }
   .activites-marseille-pomegues
   {
       flex-basis: 46%;
   }
    .activites-marseille-pomegues img
    {
        object-fit: cover;
        height: 200px;
        min-width: 100%;
        
    }
   
   .activites-marseille-frioul
   {   
       margin-bottom: 0px; 
       flex-basis: 46%;
   
   }
   .activites-marseille-frioul img
   {   
       object-fit: cover;
        height: 200px;
        min-width: 100%; 
   }
   .activites-marseille-calanques
   {
       flex-basis: 46%;
   }
   .activites-marseille-calanques img
   {   
        object-fit: cover;
        height: 200px;
        min-width: 100%;
   }
   .activites-marseille-dame-garde
   {
      margin-bottom: 0px;
      flex-basis: 46%;
   }
   .activites-marseille-dame-garde img
   {   
       object-fit: cover;
       height: 200px;
       min-width: 100%;
   
   }
   .activites-marseille-longchamp
   {
      margin-top: 0px;
      flex-basis: 46%
   }
   .activites-marseille-longchamp img
   {   
       object-fit: cover;
       height: 200px;
       min-width: 100%;
   
   }
   footer
    {   
      padding: 2% 8% 2% 5%;
      margin-top: 50px;
    }
  
      

}
@media screen and (min-width:1001px)and (max-width:1279px) 
{
       
    body
    {
       margin: 5% 0.5%;
       font-size: 1.1em;
    }
    h3
    {
        font-size: 1.1em;
    }
    .formulaire-filtre
    { 
      display: flex;
      flex-wrap:wrap;
    } 
     .link-filtre 
    {  
     margin-bottom: 10px;
     margin-right: 10px;  
    } 
   

    /*main*/
   .les-hotels
   {
       display: flex;
       justify-content: space-between;
       flex-direction: column;
       margin-top: 30px;  
   }
   .populaires
   {   margin-top: 0px;
       border-radius: 20px;
       order: 1;
   }
   .populaires-cartes
   {
       width: 98%;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: auto;
       grid-gap: 15px;
       margin-bottom: 30px;
   }
   .populaires-item img
   {
    object-fit: cover;
    min-width: 33%;
    border: 1px solid  #F2F2F2;
    border-radius:  15px 0px 0px 15px;
    height: 130px;
   }
   #link-img
   {
       max-width: 33%;
   }
   #bleu-blanc
   {
       min-width: 33%;
   }
   .populaires-contenu
   {
       padding: 0px 0px 0px 10px;
       margin-top: -20px;
   }
   .populaires-contenu p
   {
      margin-top: -10px; 
   }
   .populaires-contenu i
   {  
        font-size: 13px;
        margin-bottom: -20px;
        margin-top: 10px;
   }
   .hebergements-marseille
  {  
    width: 100%;
    order:2;
    margin-top: 40px;
  }

  .activites-marseille
  {
      margin-right: -1.5%;
      margin-left: 0.5%;
  }
  .activites-marseille-cartes
  {  
      display: flex;
      flex-wrap: wrap;
      width: 99%;
  } 
  .activites-marseille-port
  {
      order:1;
      flex-basis: 30%;
  }
 
  .activites-marseille-port img
  {  
    object-fit: cover;
    height: 200px;
    min-width: 100%;
  }
  .activites-marseille-pomegues
  {   order: 2;
      flex-basis: 30%;
  }
   .activites-marseille-pomegues img
   {
       object-fit: cover;
       height: 200px;
       min-width: 100%;
       
   }
  
  .activites-marseille-frioul
  {    
      order:4;
      margin-bottom: 0px; 
      flex-basis: 30%;
  
  }
  .activites-marseille-frioul img
  {   
      object-fit: cover;
       height: 200px;
       max-width: 100%; 
  }
  .activites-marseille-calanques
  {   
      order:3;
      flex-basis: 30%;
  }
  .activites-marseille-calanques img
  {   
       object-fit: cover;
       height: 200px;
       min-width: 100%;
  }
  .activites-marseille-dame-garde
  {  
     order:5;
     margin-bottom: 0px;
     flex-basis: 30%;
     
  }
  .activites-marseille-dame-garde img
  {   
      object-fit: cover;
      height: 200px;
      max-width: 100%;
  
  }
  .activites-marseille-longchamp
  {  order:6;
     margin-top: 0px;
     flex-basis: 30%
  }
  .activites-marseille-longchamp img
  {   
      object-fit: cover;
      height: 200px;
     min-width: 100%;
  }
  
  footer
   {   
     padding: 2% 15% 2% 5%;
     margin-top: 50px;
   }


}


  



    


   
    
    


    


















